/MidPointCirclo/nbproject/private/
/MidPointCirclo/build/
/MidPointCirclo/dist/
/MidPointCircle/build/
/MidPointCircle/dist/
/MidPointCircle/nbproject/private/
/CampoFutebol/nbproject/private/
/CampoFutebol/build/
/CampoFutebol/dist/
/Bresenham/nbproject/private/
/Bresenham/build/
/Bresenham-PontosPlotagem/nbproject/private/
/Bresenham-PontosPlotagem/build/
/3D-objects/nbproject/private/
/3D-objects/build/
/micro-estrutura/nbproject/private/
/StaticSceneExample/dist/
/helicopter-with-tail-rotor/JavaApplication13/nbproject/private/
/helicopter-with-tail-rotor/JavaApplication13/build/
/TesselationExample/nbproject/private/
/TesselationExample/build/
/TesselationBWExample/nbproject/private/
/TesselationBWExample/build/