/MidPointCirclo/nbproject/private/
/MidPointCirclo/build/
/MidPointCirclo/dist/
/MidPointCircle/build/
/MidPointCircle/dist/
/MidPointCircle/nbproject/private/
/CampoFutebol/nbproject/private/
/CampoFutebol/build/
/CampoFutebol/dist/
/Bresenham/nbproject/private/
/Bresenham/build/
/Bresenham-PontosPlotagem/nbproject/private/
/Bresenham-PontosPlotagem/build/
/3D-objects/nbproject/private/
/3D-objects/build/
/micro-estrutura/nbproject/private/